body{
    background-color: rgb(230, 188, 99);
}

.titulo{
    font-size: 1.2rem;
    text-align: center;
}

.imagens{
    border:1px solid black;
    display: flex;
    gap:12px;
    padding:5px 5px;
}

.imagens img{
    width: 250px;
    height: 160px;
    border:1px solid black;
    margin: 3px;
}